{% extends 'base.html' %}

{% block pagebody %}

<div class="container">
  <h3>Iscrizioni</h3>
  <table class="table table-borderless">
    <tr>
      <th>Course</th>
      <th>Starting</th>
      <th>Ending</th>
      <th>Delete</th>
    </tr>

    {% for c in courses %}
      <tr>
        <td>{{c.name}}</td>
        <td>{{c.starting}}</td>
        <td>{{c.ending}}</td>
        <td>
          <form action="{{ url_for('delete_sign_up', course_name=c.name) }}">
            <input type="submit", value="Disiscriviti">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <form action="/private">
    <input type="submit", value="Back">
  </form>
</div>


  
  
{% endblock %}
