{% extends 'base.html' %}

{% block pagebody %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: rgb(13, 202, 240);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(13, 202, 240);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>

<div class="container">
  <h1>Sign ups</h1>
  {% for c in courses %}
    {% if c.ending >= today %}
      <div class="mb-2 ">
        <button type="button" class="collapsible">{{c.name}}</button>
        <div class="content">

          <table class="table table-borderless">
            <tr>
              <th>Starting</th>
              <th>Ending</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td>{{c.starting}}</td>
              <td>{{c.ending}}</td>
              <td>            
                <form action="{{ url_for('delete_sign_up', course_name=c.name) }}">
                <input type="submit", value="Unsubscribe" class="btn btn-danger btn-sm">
                </form>
              </td>
            </tr>
          </table>

          <h3> Shifts </h3>
          <table class="table table-borderless">
            <tr>
              <th>Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Room</th>
            </tr>

            {% for s in c.shifts %}
              {% if s.date >= today %}
                <tr>
                  <td>{{s.date}}</td>
                  <td>{{s.h_start}}</td>
                  <td>{{s.h_end}}</td>
                  <td>{{s.room.name}}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>

        </div>
      </div>
    {% endif %}
  {% endfor %}
  <h3>Past sign ups</h3>
  {% for c in courses %}
      {% if today > c.ending %}
      <div class="mb-2 ">
        <button type="button" class="collapsible">{{c.name}}</button>
        <div class="content">

          <table class="table table-borderless">
            <tr>
              <th>Starting</th>
              <th>Ending</th>
            </tr>
            <tr>
              <td>{{c.starting}}</td>
              <td>{{c.ending}}</td>
            </tr>
          </table>
        </div>
      </div>
      {% endif %}
  {% endfor %}
  <div class="mt-4">
    <form action="{{url_for('private')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>
</div>

</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
  
  
{% endblock %}
