{% extends 'base.html' %}

{% block pagebody %}

<div class="container">
  <div>
    <h1>Corsi</h1>
    {% if current_user.is_authenticated and isStaff == True %}
      <form action="/new_course">
        <input type="submit", value="Aggiungi" class="btn btn-success btn-sm mt-2 ml-2">
      </form>
    {% endif %}
  </div>
  <br>
  <div class="row">
    {% for c in courses%}
      <div class="col mb-3">
        <div class="card bg-light" style="width: 18rem; border: hidden; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img src="static/images.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p class="card-text">
              Inizio: {{c.starting}} 
              <br> 
              Fine: {{c.ending}} 
            </p>
            <a href="{{ url_for('course', course_name=c.name) }}" class="btn btn-info text-light">Vedi Corso</a>
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
</div>


{% endblock %}