{% extends 'base.html' %}

{% block pagebody %}
<div class="container"> 
  <h1>{{course.name}}</h1>
  <p>
    <strong>Inizio</strong> <br> 
    &nbsp;&nbsp;{{course.starting}}
  </p>
  <p>
    <strong>Fine</strong> <br> 
    &nbsp;&nbsp;{{course.ending}}
  </p>
  <p>
    <strong>Partecipanti massimi</strong> <br> 
    &nbsp;&nbsp;{{course.max_partecipants}}
  </p>
  <p>
    <strong>Trainer</strong> <br> 
    &nbsp;&nbsp;{{course.trainer.user.fullname}}
  </p>
  <p>
    <strong>Giorni</strong> <br>
    {% for i in course_program %}
    &nbsp;&nbsp;{{i.week_day}} <br>
    {% endfor %}
  </p>
  <p>
    <strong>Turni</strong> <br>
    {% for i in shift%}
    &nbsp;&nbsp;{{i.h_start}} - {{i.h_end}} <br>
    {% endfor %}
  </p>
  {% if current_user.is_authenticated %}
    {% if course_sign_up.course_id != course.id %}
      <form action= "{{ url_for('sign_up', course_name = course.name) }}">
        <input type="submit", value="Iscriviti">
      </form>
    {% else %}
      <form action="{{ url_for('delete_sign_up', course_name = course.name)}}">
        <input type="submit", value="Disiscriviti">
      </form>
    {% endif %}
  {% else %}
    <form action= "{{ url_for('sign_up', course_name = course.name) }}">
      <input type="submit", value="Iscriviti">
    </form>
  {% endif %}
  </div>
{% endblock %}