{% extends 'base.html' %}

{% block pagebody %}
<script>
  function myConfirm() {
    if (confirm('Are you sure?')) {
      // Save it!
      console.log('Thing was saved to the database.');
    } else {
      // Do nothing!
      console.log('Thing was not saved to the database.');
    }
  }
  document.getElementById("demo").innerHTML = myFunction(4, 3);
</script>

<div class="container"> 
  <h1>{{course.name}}</h1>
  {% if current_user.is_authenticated and current_user.id == course.instructor_id %}
    <form action="{{url_for('del_course', course_name = course.name)}}">
      <input type="submit" value="Delete Course" onclick="myConfirm()" class="btn btn-danger">
    </form>
  {% endif %}
  <p>
    <strong>Start</strong> <br> 
    &nbsp;&nbsp;{{course.starting}}
  </p>
  <p>
    <strong>End</strong> <br> 
    &nbsp;&nbsp;{{course.ending}}
  </p>
  <p>
    <strong>Slots avaible</strong> <br> 
    &nbsp;&nbsp; {{course.max_partecipants - course.users|length}}/{{course.max_partecipants}}
  </p>
  <p>
    <strong>Trainer</strong> <br> 
    &nbsp;&nbsp;{{course.trainer.user.fullname}}
  </p>
  <p>
    <strong>Days</strong> <br>
    {% for i in course_program %}
    &nbsp;&nbsp;{{i.week_day}} - {{i.room.name}} <br>
    {% endfor %}
  </p>
  <p>
    <strong>Shifts</strong> <br>
    {% for i in shift%}
    &nbsp;&nbsp;{{i.h_start}} - {{i.h_end}} <br>
    {% endfor %}
  </p>
  {% if isStaff == False %}
    {% if current_user.is_authenticated %}
      {% if course_sign_up.course_id != course.id %}
        <form action= "{{ url_for('sign_up', course_name = course.name) }}">
          <input type="submit" value="Subscribe" class="btn btn-success">
        </form>
      {% else %}
        <form action="{{ url_for('delete_sign_up', course_name = course.name)}}">
          <input type="submit", value="Unsubscribe">
        </form>
      {% endif %}
    {% else %}
      <form action= "{{ url_for('sign_up', course_name = course.name) }}">
        <input type="submit", value="Subscribe">
      </form>
    {% endif %}
  {% endif %}

  <div class="mt-4">
    <form action="/courses">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>

</div>
{% endblock %}