{% extends 'base.html' %}

{% block pagebody %}

<div class="container"> 
  <h1 class="display-3 text-center">{{course.name}}</h1>
  <div class="card bg-light shadow p-3 mb-5 mt-4 mx-auto w-75" style="border: hidden;">
    <h3>Course Informations</h3>
    <table class="table table-borderless ml-3">
      <tr>
        <td><strong>Starting</strong></td>
        <td>{{course.starting}}</td>
      </tr>
      <tr>
        <td><strong>Ending</strong></td>
        <td>{{course.ending}}</td>
      </tr>
      <tr>
        <td><strong>Trainer</strong></td>
        <td>{{course.trainer.user.fullname}}</td>
      </tr>
      <tr>
        <td><strong>Days</strong></td>
        <td>
          {% for i in course_program %}
            {{i.week_day}} - {{i.room.name}} 
            <br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td><strong>Shifts</strong></td>
        <td>
          {% for i in shift %}
            {{i.h_start}} - {{i.h_end}} 
            <br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td><strong>Slots Available</strong></td>
        <td>{{course.max_partecipants - course.users|length}}/{{course.max_partecipants}}</td>
      </tr>
    </table>
    {% if isStaff == False %}
      {% if current_user.is_authenticated %}
        {% if course_sign_up.course_id != course.id %}
          <form action= "{{ url_for('sign_up', course_name = course.name) }}">
            <input type="submit" value="Subscribe" class="btn btn-success">
          </form>
        {% else %}
          <form action="{{ url_for('delete_sign_up', course_name = course.name)}}">
            <input type="submit", value="Unsubscribe" class="btn btn-danger">
          </form>
        {% endif %}
      {% else %}
        <form action= "{{ url_for('sign_up', course_name = course.name) }}">
          <input type="submit", value="Subscribe" class="btn btn-success">
        </form>
      {% endif %}
    {% endif %}
  </div>

  <div class="mt-4">
    <form action="{{url_for('courses')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>

</div>
{% endblock %}