{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <div class="col text-center">
  
    <h3> Valid </h3>
      {% for us in valid %}
        {{us.fullname}} : {{us.membership_deadline}} - 
          <form action="{{url_for('user_settings', user_id = us.id)}}">
            <input type="submit" value="Update" class="btn btn-danger my-2">
          </form>
      {% endfor %}
    <h3> Not Valid </h3>
      {% for us in not_valid %}
        {{us.fullname}} : {{us.membership_deadline}} - 
          <form action="{{url_for('user_settings', user_id = us.id)}}">
            <input type="submit" value="Update" class="btn btn-danger my-2">
          </form>
      {% endfor %}
  </div>

  <div class="mt-4">
    <form action="{{url_for('private')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>
   
</div>
{% endblock %}