{% extends 'base.html' %}

{% block pagebody %}
<div style="background-image: url('static/banner_home.jpg'); width: 100%; height: 485px; background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="container">
    <div style="line-height: 120%; font-weight: 700; position: absolute; top: 25%; color: #FFFFFF; font-size: 60px;">
      Gym
    </div>
  </div>
</div>
<div class="py-4 bg-info text-white text-center">
  <h1 class="display-2">Services Offered</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 text-center" style="background-image: url('static/courses.jpg'); padding-top: 15%; background-size: 100%;">
      <div style="margin-bottom: 25%;">
        <a href="{{ url_for('courses')}}" class="btn btn-info text-white">Go to courses</a>
      </div>
      
    </div>

    <div class="col-12 col-md-6 text-center" style="background-image: url('static/prenotations.jpg') ; padding-top: 15%; background-size: 100%;">
      <div style="margin-bottom: 25%;">
        <a href="{{ url_for('shifts_first')}}" class="btn btn-info text-white">Go to Prenotations</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4 bg-info text-white text-center">
  <h1 class="display-3">Anti-covid regulation</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 text-center" style="background-image: url('static/anti-covid.jpg') ;background-size: 100%; height: 400px;">
    </div>
    <div class="col-12 col-md-6 text-center">
      <div class="mt-5 pt-4 px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas, eros at sodales tincidunt, nunc nisl egestas turpis, ac suscipit lacus purus a tellus. Nulla at accumsan elit. Praesent auctor aliquet vulputate. Morbi condimentum metus egestas, faucibus neque ut, pellentesque magna. Vestibulum hendrerit facilisis maximus. Phasellus eu diam molestie, cursus magna quis, vestibulum purus. Sed egestas ultrices odio id mollis. Donec tincidunt lacus lorem, ac molestie nisi ullamcorper sit amet. Etiam tempor tellus ut sapien venenatis aliquet. Sed sollicitudin nisl eget nunc pulvinar, ut ullamcorper libero lobortis. Duis lacinia vestibulum nulla et imperdiet. Curabitur pulvinar convallis arcu, accumsan sagittis ex ornare eu. Donec vulputate sed ante at tempor. Pellentesque sollicitudin mi nec orci cursus, vel volutpat urna finibus. Vestibulum congue tortor sit amet sodales sagittis.</div>
    </div>
  </div>
</div>

<div class="py-4 bg-info text-white text-center">
  <h1 class="display-3">About us</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <div class="mt-5 pt-4 px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas, eros at sodales tincidunt, nunc nisl egestas turpis, ac suscipit lacus purus a tellus. Nulla at accumsan elit. Praesent auctor aliquet vulputate. Morbi condimentum metus egestas, faucibus neque ut, pellentesque magna. Vestibulum hendrerit facilisis maximus. Phasellus eu diam molestie, cursus magna quis, vestibulum purus. Sed egestas ultrices odio id mollis. Donec tincidunt lacus lorem, ac molestie nisi ullamcorper sit amet. Etiam tempor tellus ut sapien venenatis aliquet. Sed sollicitudin nisl eget nunc pulvinar, ut ullamcorper libero lobortis. Duis lacinia vestibulum nulla et imperdiet. Curabitur pulvinar convallis arcu, accumsan sagittis ex ornare eu. Donec vulputate sed ante at tempor. Pellentesque sollicitudin mi nec orci cursus, vel volutpat urna finibus. Vestibulum congue tortor sit amet sodales sagittis.</div>
    </div>
    <div class="col-12 col-md-6 text-center" style="background-image: url('static/about-us.jpg') ;background-size: 100%; height: 400px;"></div>
  </div>
</div>
<div class="py-5 bg-info text-white text-center"></div>



{% endblock %}
