{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <h2>Messaggi Ricevuti</h2>
  <table class="table table-borderless">
    <tr>
      <th>From</th>
      <th>Date</th>
      <th>Text</th>
    </tr>

    {% for m in messages %}
    <tr>
      <td>{{m.sender_.fullname}}</td>
      <td>{{m.date.strftime('%m/%d/%Y %H:%M')}}</tr>
      <td>{{m.text}}</td>
    </tr>
    {% endfor %}

  </table>
  <form action= "{{ url_for('private')}}">
    <input type="submit", value="Back">
  </form>
</div>


  
  
{% endblock %}
