{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <h1>Profilo di {{us.fullname}}</h1>
  <p>Email: {{ us.email}}</p>
  <p>Password: {{us.pwd}}</p>
  <br>
  <form action="/private/prenotations">
    <input type="submit", value="Prenotations">
  </form>
  <br>
  <form action="/private/courses_sign_up">
    <input type="submit", value="Courses">
  </form>
  <br>
  <form action="/private/messages">
    <input type="submit", value="Messages">
  </form>
  <br>
  <form action="/private/covid_report">
    <input type="submit", value="Covid Report">
  </form>
  <br>
  <form action="/logout">
    <input type="submit", value="Logout" class="btn btn-info text-light">
  </form>
</div>
  
  
{% endblock %}
