{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <h1 class="text-center">Profile of {{us.fullname}}</h1>
  <div class="card bg-light shadow p-3 mb-5 mt-4 mx-auto w-75" style="border: hidden;">
    <h3>Dati Utente</h3>
    <table class="table table-borderless ml-3">
      <tr>
        <td><strong>Fullname</strong></td>
        <td>{{us.fullname}}</td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td>{{us.email}}</td>
      </tr>
      <tr>
        <td><strong>Telephone</strong></td>
        <td>{{us.telephone}}</td>
      </tr>
      <tr>
        <td><strong>Address</strong></td>
        <td>{{us.address}}</td>
      </tr>
    </table>
    <div class="row">
      <div class="col-2">
        <form action="/private/update_user">
          <input type="submit" value="Update User" class="btn btn-warning text-white">
        </form>
      </div>
      <div class="col-2">
        <form action="/logout">
          <input type="submit", value="Logout" class="btn btn-info text-light">
        </form>
      </div>
    </div>
  </div>

  <div class="row w-75 mx-auto">
    <div class="col text-center">
      <form action="/private/prenotations">
        <input type="submit", value="Prenotations" class="btn btn-info text-white" style="width: 120px;">
      </form>
    </div>
    <div class="col text-center">
      <form action="/private/courses_sign_up">
        <input type="submit", value="Courses" class="btn btn-info text-white" style="width: 120px;">
      </form>
    </div>
    <div class="col text-center">
      <form action="/private/messages">
        <input type="submit", value="Messages" class="btn btn-info text-white" style="width: 120px;">
      </form>
    </div>
    <div class="col text-center">
      <form action="/private/covid_report">
        <input type="submit", value="Covid Report" class="btn btn-info text-white" style="width: 120px;">
      </form>
    </div>
  </div>
</div>
  
  
{% endblock %}
