{% extends 'base.html' %}

{% block pagebody %}
<div style="background-image: url('static/prenotations.jpg'); width: 100%; height: 400px; background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
<div class="py-4 bg-info text-white text-center">
  <h1 class="display-3">Book a Shift</h1>
</div>
<div class="container py-4">
  <div>
    <form action="{{url_for('shifts_load_state')}}" method="POST">
      <div class="row w-75 mx-auto mt-4">
        <div class="col text-center">
          <strong>Date</strong> 
          <input name="date" type="date", value= {{ date_string }} >
        </div>
        <div class="col text-center">
          <strong>Room</strong>
          <select id="room" name="room">
            <option value="All">All</option>
            {% for i in rooms %}
            <option value="{{ i.name }}"> {{ i.name }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="col text-center">
          <input type="submit", value="Search" class="btn btn-info text-light" >
        </div>
      </div>
    </form>
  </div>
  

  <div class=" w-75 mx-auto mt-4">
    <table class="table table-hover">
      <tr>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Room</th>
        <th>Booking</th>
      </tr>

      {% for s in shifts %}
      <tr>
        <td>{{s.date}}</td>
        <td>{{s.h_start}}</td>
        <td>{{s.h_end}}</td>
        <td>{{s.room.name}}</td>
        <td>{{s.room.max_capacity - s.prenotations|length}}/{{s.room.max_capacity}}</td>
        <td>
          {% if s.room.max_capacity - s.prenotations|length > 0 %}
            <form action= "{{ url_for('prenotation', shift = s.id) }}">
              <input type="submit", value="Book" class="btn btn-success btn-sm">
            </form>
          {% else %}
            <input type="submit", value="Full" class="btn btn-success btn-sm">
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>
<div class="py-5 bg-info text-white text-center"></div>
{% endblock %}
