{% extends 'base.html' %}

{% block pagebody %}

<div style="background-image: url('static/prenotations.jpg'); width: 100%; height: 400px; background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
<div class="py-4 bg-info text-white text-center">
  <h1 class="display-3">Shift Booking</h1>
</div>
<div class="container py-4">
  <div>
    <form action="{{url_for('shifts_load_state')}}" method="POST">
      <div class="row w-75 mx-auto mt-4">
        <div class="col text-center">
          <strong>Date</strong> 
          <input name="date" type="date", value= {{ date_string }} >
        </div>
        <div class="col text-center">
          <strong>Room</strong>
          <select id="room" name="room">
            <option value="All">All</option>
            {% for i in rooms %}
            <option value="{{ i.name }}"> {{ i.name }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="col text-center">
          <input type="submit", value="Search" class="btn btn-info text-light" >
        </div>
      </div>
    </form>
  </div>


  <div class=" w-75 mx-auto mt-4">
    <table class="table table-hover">
      <tr>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Room</th>
        <th>Capacity</th>
        <th>Booking</th>
      </tr>

      {% for s in shifts %}
      <tr>
        <td>{{ s[0] }}</td>
        <td>{{ s[1] }}</td>
        <td>{{ s[2] }}</td>
        <td>{{ s[3].name }}</td>
        <td>{{ s[4] }}/{{ s[3].max_capacity }}</td>
        <td>
          {% if current_user.is_authenticated and "Admin" in current_user.roles %}
            <button type="button" class="collapsible">Users</button>
            <div class="content">
              {% for u in range(12) %}
                aaa
                {{u.fullname}} <br>
              {% endfor %}
            </div>
          {% else %}
            {% if s[5] is not none and user is not none and user in s[5].users_prenoted %}
              <input type="submit", value="Booked" class="btn btn-success btn-sm">
            {% elif s[4] > 0 %}
              <form action= "{{ url_for('prenotation') }}", method="POST">
                <input type="submit", value="Book" class="btn btn-success btn-sm">
                {% if s[5] is not none %}
                  <input name="shift_id" type="hidden", value={{ s[5].id }}>
                {% else %}
                  <input name="shift_id" type="hidden", value=-1>
                {% endif %}
                <input name="date" type="hidden", value={{ s[0] }}>
                <input name="start" type="hidden", value={{ s[1] }}>
                <input name="end" type="hidden", value={{ s[2] }}>
                <input name="room_id" type="hidden", value={{ s[3].id }}>       
              </form>
            {% else %}
                <input type="submit", value="Full" class="btn btn-success btn-sm">
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>
<div class="py-5 bg-info text-white text-center"></div>

{% endblock %}
