{% extends 'base.html' %}

{% block pagebody %}

<div class="container">
  <h2 class="mb-2">Prenota un Turno</h2>
  <form action="/shifts/load_date" method="POST">
    Insert date:
    <input name="date" type="date", value= {{ date_string }} >
    <br>
    Insert room:
    <select id="room" name="room">
      <option value="All">All</option>
      {% for i in rooms %}
      <option value="{{ i.name }}"> {{ i.name }} </option>
      {% endfor %}
    </select>
    <input type="submit", value="Cerca">
  </form>
  
  <div class="container">
    <div class="container-fluid ">
      {% for r in rooms %}
        {% for s in shifts %}
          {% if s.room_id == r.id %}
            <p class="m-2">
              {{s}}
              <form action= "{{ url_for('prenotation', shift = s.id) }}">
                <input type="submit", value="Iscriviti">
              </form>
            </p>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  
  <form action="/private">
      <input type="submit", value="Back">
  </form>
</div>
{% endblock %}
