{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <h1 class="display-3 text-center">{{course.name}}</h1>
  <div class="card bg-light shadow p-3 mb-5 mt-4 mx-auto w-75" style="border: hidden;">
    <h3>Course Informations</h3>
    <table class="table table-borderless ml-3">
      <tr>
        <td><strong>Starting</strong></td>
        <td>{{course.starting}}</td>
      </tr>
      <tr>
        <td><strong>Ending</strong></td>
        <td>{{course.ending}}</td>
      </tr>
      <tr>
        <td><strong>Days</strong></td>
        <td>
          {% for i in course_program %}
            {{i.week_day}} - {{i.room.name}} 
            <br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td><strong>Shifts</strong></td>
        <td>
          {% for i in shifts %}
            {{i.starting}} - {{i.ending}} 
            <br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td><strong>Slots Available</strong></td>
        <td>{{course.max_partecipants - course.users|length}}/{{course.max_partecipants}}</td>
      </tr>
      <tr>
        <td><strong>Users Signed Up</strong></td>
        <td>
          {% for u in course.users %}
            {{u.fullname}} - {{u.email}}
            <br>
          {% endfor %}
        </td>
      </tr>
    </table>
    <div class="row">
      <div class="col-2">
          <input type="submit" onclick="del_course()" value="Delete Course" class="btn btn-danger">
      </div>
      <div class="col-2">
        <form action="#">
          <input type="submit" value="Update Course" class="btn btn-warning text-white">
        </form>
      </div>
    </div>
  </div>
  
  <div class="my-4">
    <form action="{{url_for('trainer_courses')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>

</div>


<script>
  
  function del_course() {
    var r = confirm("If you Confirm course will be deleted and all info will be lost");
    if (r == true) {
      post(path="{{url_for('del_course', course_name = course.name)}}")
    }
  }

  function post(path, params, method='post') {

    // The rest of this code assumes you are not using a library.
    // It can be made less verbose if you use one.
    const form = document.createElement('form');
    form.method = method;
    form.action = path;

    for (const key in params) {
      if (params.hasOwnProperty(key)) {
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = key;
        hiddenField.value = params[key];

        form.appendChild(hiddenField);
      }
    }
    document.body.appendChild(form);
    form.submit();
    }
  
</script>


{% endblock %}


