{% extends 'base.html' %}

{% block pagebody %}

<div class="container">
  <h1 class="text-center mb-4">{{trainer.user.fullname}}'s Courses</h1>
    <div class="row">
      {% for c in courses%}
        <div class="col-12 col-md-3 mb-3">
          <div class="card bg-light shadow" style="width: 18rem; border: hidden; ">
            <div class="card-body">
              <h3 class="card-title">{{c.name}}</h3>
              <p class="card-text">
                Start: {{c.starting}} 
                <br> 
                End: {{c.ending}} 
              </p>
              <a href="{{ url_for('trainer_course', course_name=c.name) }}" class="btn btn-info text-light">See course</a>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
  <div class="mt-4">
    <form action="/private">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>

{% endblock %}