{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  {% if get_flashed_messages(category_filter=('error')) %}
    <div class="card bg-light shadow" style="width: 30rem; height: 20rem; margin: auto; margin-top: 12%; border: hidden;">
  {% else %}
    <div class="card bg-light shadow" style="width: 30rem; height: 16rem; margin: auto; margin-top: 12%; border: hidden;">
  {% endif %}
    <div class="card-body">
      <div class="container text-center" style="margin-top: 2rem;">
        <h3 class="card-title">Update Global Settings</h3>
        <form action="{{url_for('global_settings_form')}}" method="POST">
          {% for global_setting in global_settings %}
            {{global_setting.name}}
            <br>
            <input name={{global_setting.name}} type="number" min="1" style="width: 250px;" value="{{ global_setting.value }}">
            <br>
          {% endfor %}
          <input type="submit" class="btn btn-info text-light mt-3" value="Update">
        </form>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <form action="{{url_for('settings')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>
</div>
{% endblock %}