{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <h1 class="display-3 text-center">Room Settings</h1>
  <div class="row">
    <div class="mt-3">
      <form action="{{url_for('add_room_')}}">
        <input type="submit" value="Add Room" class="btn btn-success">
      </form>
    </div>
    {% for room in rooms %}
      <div class="col-xs-12 col-md-3 my-4">
        <div class="card bg-light shadow" style="width: 90%; border: hidden; margin: auto;">
          <div class="card-body pt-4">
            <h3 class="card-title">{{room.name}}</h3>
            <form action="{{url_for('room_settings_form')}}" method="POST">
              Room Capacity <input name={{room.id}} type="number" style="width: 60px;" value="{{ room.max_capacity }}">
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <form action="{{url_for('del_room', room_id = room.id)}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger my-2">
                  </form>
                </div>
                <div class="col-xs-4 col-md-4">
                  <input type="submit" class="btn btn-info text-light text-center my-2 " value="Update"> <!--TODO THIS INPUT DOESN'T WORK-->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="mt-4">
    <form action="{{url_for('settings')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>

<script>
  
  function del_room(r_id) {
    var r = confirm("If you Confirm all shifts and prenotations in this room will be deleted and also all program course for this room");
    if (r == true) {
      post(path="{{url_for('del_room', room_id = r_id)}}")
    }
    else {
      window.location.href = "{{url_for('room_settings')}}"
    }
  }

  function post(path, params, method='post') {

    // The rest of this code assumes you are not using a library.
    // It can be made less verbose if you use one.
    const form = document.createElement('form');
    form.method = method;
    form.action = path;

    for (const key in params) {
      if (params.hasOwnProperty(key)) {
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = key;
        hiddenField.value = params[key];

        form.appendChild(hiddenField);
      }
    }
    document.body.appendChild(form);
    form.submit();
    }
  
</script>


{% endblock %}