{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <div class="col text-center">
  

  <div>
    <form action="{{url_for('users_settings_form')}}" method="POST">
      <div class="row w-75 mx-auto mt-4">
        <div class="col text-center">
          <strong>Select User</strong>
          <select id="user" name="user">
          {% for u in users %}
            <option value="{{ u.id }}"> {{ u.fullname }} </option>
          {% endfor %}
          </select>
        </div>
        <div class="col text-center">
          <input type="submit", value="Next" class="btn btn-info text-light" >
        </div>
      </div>
    </form>
  </div>

  <div class="mt-4">
    <form action="{{url_for('settings')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>
   
</div>
{% endblock %}