{% extends 'base.html' %}

{% block pagebody %}
<div class="container">
  <h1 class="display-3 text-center">Room Settings</h1>
  <div class="row">
    {% for user in users %}
      <div class="col-xs-12 col-md-3 my-4">
        <div class="card bg-light shadow" style="width: 90%; border: hidden; margin: auto;">
          <div class="card-body pt-4">
            <h3 class="card-title">{{user.fullname}}</h3>
            Email : {{user.email}} <br>
            Address : {{user.address}} <br>
            Telephone : {{user.telephone}} <br>
            Roles : 
            {% for role in user.roles %} {{role.name }} <br> {% endfor %}
            Membership Deadline : {{user.membership_deadline}} <br>
            Covid State :
              {% if user.covid_state == 0 %}
                Free <br>
              {% elif user.covid_state == 1 %}
                Had Contacts <br>
              {% else %}
                Positive <br>
              {% endif %}
            <div class="col-xs-4 col-md-4">
              <form action="{{url_for('user_settings', user_id = user.id)}}">
                <input type="submit" value="Update" class="btn btn-danger my-2">
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="mt-4">
    <form action="{{url_for('private')}}">
      <input type="submit", value="Back" class="btn btn-info text-light">
    </form>
  </div>

{% endblock %}